/*intro seciton styles*/
.RM-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
    position: relative;
    margin-bottom: 4rem;
    margin-top: 4rem;
}
.RM-container::before {
    content: "";
    position: absolute;
    top: 3rem;
    bottom: 3rem;
    left: 50%;
    width: 4px;
    background-color: #FF4D4D;
    transform: translateX(-1rem);
    z-index: 1;
}
.RM-container .desc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}
.RM-container .img-container {
    display: flex;
    justify-content: center;
    align-items: center; 
}
.RM-container .img {
    width: 90%;
    max-width: 100%;
    height: auto;
}



/*video styles*/
.team-video-container{
    margin: auto;
    text-align: center;
    align-items: center;
    padding: 1rem;
}
.team-video-container h4 {
    color: #fff;
}
.team-video-container .subtitle {
    color: #e9e2e2;
}
.video-container{
    height: 100%;
    max-width: 100%;
    padding: 2rem;
}


/*why join section styles*/
.skills-container {
    margin: auto;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    row-gap: 8rem;
    padding-bottom: 4rem;
}
.skills-container p {
    height: 13.5rem;
}
.skills-container img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

/*sponsors section styles*/
.center{
    align-items: center;
    text-align: center;
}
.sponsors-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 0.5;
}
.sp{
    text-align: center;
}
.sponsor-main-container {
    padding-bottom: 6rem;
}
