/*intro seciton styles*/
.RM-container{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    position: relative;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.RM-container::before {
    content: "";
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    left: 50%;
    width: 4px;
    background-color: #FF4D4D;
    transform: translateX(-1.6rem);
    z-index: 1;
}
.RM-container .desc-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
.RM-container img {
    max-width: 600px;
    max-height: 440px;
}


/*video styles*/
.team-video-container{
    margin: auto;
    text-align: center;
    align-items: center;
    padding: 1rem;
}
.video-container{
    height: 100%;
    max-width: 100%;
    padding: 2rem;
}
.section-secondary{
    background-color: #f5ebeb;
}

/*why join section styles*/
.skills-container {
    margin: auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding-bottom: 1rem;
}
.skills-container p {
    height: 8.5rem;
}
.skills-container img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

/*sponsors section styles*/
.center{
    align-items: center;
    text-align: center;
}
.sponsors-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 0.5;
}
.sp{
    text-align: center;
}
.subtitle {
    font-size: 1.5rem;
    font-style: italic;
    color: #a09d9d;
}