.contact-container {
    width: 60%;
    margin: auto;
    align-items: center;
}
.contact-container h4 {
    font-size: 3rem;
}
.form-container {
    background-color: #f5ebeb;
    width: 100%;
    margin: auto;
}
label{
    color: #FF4D4D;
    font-size: 1.6rem;
    font-weight: 500;
}
form{
    display:flex;
    flex-direction: column;
    padding: 3rem 1rem;
    margin: auto;
    max-width: 80%;
    
}
form input, form textarea{
    margin-bottom: 0.6rem;
    padding: 10px 15px;
    font-size: 1.4rem;
    background-color: rgba(255, 255, 255, 0.851);
    border-color: rgba(212, 212, 212, 0.325);
    color: #3b3a3a;
}
.footer p {
    color: #fff;
}