.footer{
    
    background-color: #000000;
}
.footer-container {
    width: 80%;
    height: auto;
    margin: auto;
}
.contacts-container{
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(2, 1fr);

    grid-gap: 40px;
}
.left{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.right{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.contacts-container p{
    line-height: 30px;
    font-size: 1.2rem;
    color: #FF4D4D;
}
.copyright-container p{
    color: #737171;
    display: flex;
    justify-content: center;
}