.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    height: 75px;
    z-index: 10;
    background-color: #FF4D4D;
}
.header a {
    text-decoration: none;
}
.nav-menu{
    display: flex;
}
.nav-menu li {
    padding: 0 1rem;
}
.nav-menu li a {
    font-size: 1.5rem;
    font-weight: 550;
    text-decoration: none;
    position: relative;
    padding-bottom: 0.5rem;
    color: #fff;
}

.nav-menu li a::after {
    content: '';
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff; 
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease;
}
.nav-menu li a:hover::after {
    transform: scaleX(1);  
}

.nav-menu li a.active::after {
    transform: scaleX(1);
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo h1{
    color: #fff;

}
.logo-img {
    width: auto;
    height: 50px;
    padding-bottom: 0.2rem;
}