@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Oxanium:wght@200..800&display=swap');

* {
  box-sizing: border-box;
  font-family: "Oxanium", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #fcfbfb;
}
.section-container{
  width: 85%;
  margin: auto;
  padding: 3rem;
  padding-top: 5rem;
}
.section-secondary{
  background-color: #f6e5e5;
}
.section-tertiary {
  /* background-color: #FF4D4D; */
  background: linear-gradient(
          -45deg,
          #f36a6a,
          #f75a5a,
          #FF4D4D
        );
}
h1, h4 {
  color: #FF4D4D;
  text-decoration: none;
}
h4{
  font-size: 3rem;
  font-weight: 650;
  padding: 0.3rem;
}
h5{
  color: #564c4c;
  font-size: 2.3rem;
  font-weight: 600;
  padding: 0.3rem;
}
p {
  color: #505050;
  font-size: 1.2rem;
  padding: 0.3rem;
}
.subtitle {
  font-size: 1.5rem;
  font-style: italic;
  color: #807e7e;
}
ul {
  list-style-type: none;
}

.btn {
  display: inline-block;
  padding: 12px 32px;
  font-size: 1.3rem;
  text-transform: uppercase;
  background: #fff;
  color: #FF4D4D;
  border: 3px solid #FF4D4D;
  font-weight: 600;
  cursor: pointer;
  margin: 1rem 0;
  width: auto;
  text-align: center;
}
.btn-secondary {
  display: inline-block;
  padding: 12px 32px;
  font-size: 1.3rem;
  text-transform: uppercase;
  background: #FF4D4D;
  color: #fff;
  border: 3px solid #FF4D4D;
  font-weight: 600;
  cursor: pointer;
  margin: 1rem 0;
  width: auto;
  text-align: center;
}
.btn:hover {
  background: #fff;
  color: #821d1d;
  border: 3px solid #821d1d;
  transition: 0.5s;
}
.btn-secondary:hover {
  background: #821d1d;
  color: #fff;
  transition: 0.5s;
}
